<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaweiyu.ant_moving.dao.TestDao">
	<resultMap id="BaseResultMap" type="com.huaweiyu.ant_moving.model.Test">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="age" property="age" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, code, name, age
	</sql>
	<select id="getAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from test
	</select>
</mapper>